@import '../../styles/variables';

.experience__container {
    display: flex;
    margin-top: 32px;

    /* Laptop, tablet, mobile */
    @media only screen and (max-width : $screen-md) {
        display: block;
    }
}

.experience__time {
    min-width: 250px;
    color: $gray;

    /* Laptop, tablet, mobile */
    @media only screen and (max-width : $screen-md) {
        margin-bottom: 10px;
    }
}

.experience__title {
    font-weight: bold;
    color: $tango;
}