<div class="tic-tac-toe">
	<section class="hero">
		<div class="overlay">
			<div class="container"> 
				<div class="row">
					<div class="col-md-12">
						<h1>Tic Tac Toe</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="board-title">Current Player:</div>
				 	<div class="board-value" ng-bind="ticTacToeVM.currentPlayer"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="board">
		 <div class= "container">
		 	<div class="row">
		 		<div class="col-md-12 square-container">
		 			<div class="square right-bottom" ng-click="ticTacToeVM.playTurn(0)">
		 				<p ng-bind="ticTacToeVM.board[0]"></p>
		 			</div><!--
		 			--><div class="square right-bottom" ng-click="ticTacToeVM.playTurn(1)">
			 			<p ng-bind="ticTacToeVM.board[1]"></p>
			 		</div><!--
		 			--><div class="square bottom" ng-click="ticTacToeVM.playTurn(2)">
		 				<p ng-bind="ticTacToeVM.board[2]"></p>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="row">
		 		<div class="col-md-12 square-container">
		 			<div class="square right-bottom" ng-click="ticTacToeVM.playTurn(3)">
			 			<p ng-bind="ticTacToeVM.board[3]"></p>
			 		</div><!--
		 			--><div class="square right-bottom" ng-click="ticTacToeVM.playTurn(4)">
			 			<p ng-bind="ticTacToeVM.board[4]"></p>
			 		</div><!--
		 			--><div class="square bottom" ng-click="ticTacToeVM.playTurn(5)">
			 			<p ng-bind="ticTacToeVM.board[5]"></p>
			 		</div>
		 		</div>
		 	</div>
		 	<div class="row">
		 		<div class="col-md-12 square-container">
		 			<div class="square right" ng-click="ticTacToeVM.playTurn(6)">
			 			<p ng-bind="ticTacToeVM.board[6]" ></p>
			 		</div><!--
		 			--><div class="square right" ng-click="ticTacToeVM.playTurn(7)">
			 			<p ng-bind="ticTacToeVM.board[7]" ></p>
			 		</div><!--
		 			--><div class="square" ng-click="ticTacToeVM.playTurn(8)">
			 			<p ng-bind="ticTacToeVM.board[8]"></p>
			 		</div>
		 		</div>
		 	</div>
		 	<div class="row">
		 		<div class="col-md-12">
					<button name="button" ng-click="ticTacToeVM.restart()">Restart</button>
		 		</div>
		 	</div>
		 </div>
	</section>
</div>




