@import '../../styles/variables';

.callout__outer-container {
    background: $gray-light;
}

.callout__outer-container--light {
    background: rgba(224,254,251,0.9);
}

.callout__inner-container {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callout__picture {
    border: 1px solid $tango;
    width: 500px;
    height: 450px;
}