@import '../../styles/variables';

.card {
    width: 500px;
}

.card__title {
    color: white;
    padding: 35px;
    margin: 0;
    letter-spacing: 1px;
    background: #4B4B4B;
}

.card__title--light {
    background: #2ABBF2;
}

.card__content {
    padding: 25px 35px;
    background: white;
    color:  $gray-dark;
    line-height: 1.6;
    font-size: 18px;
}