.tic-tac-toe {
	.hero {

		height: 320px;

		.overlay {
			background: rgba(0, 0, 0, .5);
			height: 320px;
		}
		
		h1 { 
			color: #fff; 
			line-height: 320px; 
			margin: 0;
		}

		@media screen and (max-width: $screen-sm-max) { 
			background: url('../content/images/tic-tac-toe-phone.jpg');
			background-size: cover;	
		}

		@media screen and (min-width: $screen-md-min) {
			background: url('../content/images/tic-tac-toe-desktop.jpg');
			background-size: cover;	
		}

	}

	.board {
		table {
			margin-top: 32px;
			margin-bottom: 32px;
		}
		td {
			width: 80px;
			height: 80px;
			text-align: center;
			border: 1px solid black;
		}

		.board-title,
		.board-value {
			display: inline-block;
			margin-top: 64px;
		}
		button {
			margin-bottom: 64px;
		}
	}

}