.tic-tac-toe {
	.hero {
		@media screen and (max-width: $screen-sm-max) {
			background: url('../content/images/tic-tac-toe-phone.jpg');
			background-size: cover;
		}

		@media screen and (min-width: $screen-md-min) {
			background: url('../content/images/tic-tac-toe-desktop.jpg');
			background-size: cover;
		}
	}

	.content {
		margin-top: 64px;
		text-align: center;

		.board-value,
		.board-title {
			display: inline-block;
			font-size: 24px;
			color: $primary-light;
			margin-top: 120px;
		}
	}

	.board {
		margin-top: 64px;
		text-align: center;

		.square-container {
			height: 150px;
		}

		.square {
			height: 150px;
			width: 150px;
			text-align: center;
			display: inline-block;
			position: relative;
		}

		i {
			font-size: 5em;
			position: absolute;
			top: 50%;
			left: 50%;

			@include translate(-50%, -50%);
		}

		i.fa-times {
			color: $primary-light;
		}

		i.fa-circle-o {
			color: $text;
		}

		.right-bottom {
			border-right: 2px solid $primary-light;
			border-bottom: 2px solid $primary-light;
		}

		.bottom {
			border-bottom: 2px solid $primary-light;
		}

		.right {
			border-right: 2px solid $primary-light;
		}

		button {
			margin-top: 64px;
			margin-bottom: 120px;
		}

		@media screen and (max-width: $screen-xs-max) {
			.square-container {
				height: 75px;
			}

	        .square {
				height: 75px;
				width: 75px;
			}

			i {
				font-size: 3em;
			}
	    }
	}


}
