.d3 {

    h3 {
        text-align: center;
        color: $text-secondary;
        margin-top: 120px;
    }

    @media screen and (max-width: $screen-sm-max) {
        h3 {
            margin-top: 64px;
            margin-bottom: 64px;
        }
    }

}
