button {
    padding: 15px 45px;
    text-transform: uppercase;
    outline: none;

    color: $primary-light;
    background: $primary;
    border: 1px solid $primary-light;

    &:hover {
        color: $primary;
        background: $primary-light;
    }
}
