$primary: #FFFFFF;
$primary-light: #FFBD88;
$primary-dark: #F4A460;


$accent: #D85339;
$accent-hover: #D75C37;

$secondary-button-color: #db6c4b;

$secondary-border-color: #cc4e29;
$main-border-color: #e5aa7a;

$text: #6991AC;
$text-secondary: #81888D;

$divider: #d2d2d2;
