
html {
    overflow-y: scroll;
}

html,
body {
	height: 100%;
	background: $primary;
}

hr {
	height: 0;
	border-top: 1px solid $divider;
	margin-top: 0;
	margin-bottom: 0;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

section {
    overflow: hidden;
}
