.hero {
    margin-top: -55px;
    height: 320px;

    .overlay {
        background: rgba(0, 0, 0, .2);
        height: 320px;
    }

    h1 {
        margin: 0;
        color: $primary;
        letter-spacing: 3px;
    }

    @media screen and (max-width: $screen-sm-max) {
        h1 {
            text-align: center;
            margin-top: 167.5px;
        }
    }

    @media screen and (min-width: $screen-md-min) {

        h1 {
            font-size: 90px;
            line-height: 320px;
            padding-top: 70px;
            text-shadow: 4px 3px 0 #313436, 9px 8px 0 rgba(0, 0, 0, 0.15);
        }
    }
}

.hero.mod-large {
    @media screen and (max-width: $screen-sm-max) {

        height: 365px;

        .overlay {
            height: 365px;
        }
    }

    @media screen and (min-width: $screen-md-min) {

        height: 640px;

        .overlay {
            height: 640px;
        }
    }
}
