body.modal-open {
    overflow: visible;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;

    .modal-header {
        text-align: center;
        color: $primary;
        background: $accent-hover;
        border-bottom: 2px solid $accent-hover;
        padding: 15px;

        h3 { font-weight: 400; }
    }

    .modal-body {
        color: $text-secondary;
        padding: 64px 30px;
    }

    .modal-body.mod-congrats {
        text-align: center;
    }

    .modal-footer {
        text-align: center;
        border: none;
        padding: 0 0 15px 0;

        button {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid transparent;

            background: $accent-hover;
            color: $primary;

            &:hover {
                background: $primary;
                color: $accent-hover;
                border: 1px solid $accent-hover;
            }
        }
    }
}
