.navbar {
    margin-bottom: 0;
    z-index: 1;
    border: none;
    text-align: right;

    .navbar-brand {
        float: left;
    }

    .navbar-brand-logo {
        color: $primary;
        line-height: 51px;
        font-size: 28px;
        letter-spacing: 2px;
        transition: 0.5s ease-in;
        text-decoration: none;

        &:active,
        &:hover {
            color: $accent-hover;
        }
    }

    ul li {
        list-style: none;
        display: inline-block;
    }

    ul li a {
        color: $primary;
        cursor: pointer;
        font-size: 16px;
        margin-left: 32px;
        line-height: 51px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s all;

        &:active,
        &:hover {
            color: $accent-hover;
        }
    }

    ul li a.is-selected {
        color: $accent-hover;
    }

    .fa {
        padding: 5px;
    }
    .fa-lg {
        border: 1px solid $primary;
        color: $primary;
        margin-top: 10px;
    }
}
