.navbar { background: $primary; }

.navbar .navbar-nav > li > a { color: $text; }
.navbar .navbar-nav > li > a:hover { color: $accent-hover; }
.navbar .navbar-nav > li > a.active { color: $accent-hover; }

.navbar a { color: $text; cursor: pointer; text-decoration: none; text-transform: uppercase; 
	transition: .5s all; }

.navbar-default .navbar-brand { color: $text; display: inline-block; font-size: 1.5em; letter-spacing: .1em; }
.navbar-default .navbar-brand:hover { color: $accent-hover; }
.navbar-default .navbar-brand.active { color: $accent-hover; }

