.navbar {
	background: $primary;	margin-bottom: 0px;

  .nav-brand { float: left; }
	.nav-brand-logo { line-height: 51px; font-size: 28px; letter-spacing: 2px; transition: .5s ease-in;
										transform: translate(0, -50%); text-decoration: none; }
  .nav-brand-logo:hover { color: $accent-hover; }
	.nav-brand-logo.active { color: $accent-hover; }

	ul { margin: 0; padding: 0; }

	ul li { list-style: none; }

	ul li > a { color: $text; cursor: pointer; display: block; float: right; font-size: 16px; margin-left: 32px;
							line-height: 51px; text-decoration: none; text-transform: uppercase; transition: .5s all;
				}

	ul li > a:hover { color: $accent-hover; }

	ul li > a.active { color: $accent-hover; }

 }
