.circle { display: inline-block;
	border: 2px solid orange; 
	text-align: center; 
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	cursor: pointer;
	transition: .5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle-container { width: 125px; height: 125px; display: inline-block; position: relative; }

.circle:hover { background: grey; width: 125px; height: 125px; line-height: 125px; }
