@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}