.navbar { height: 45px; text-align: left; position: fixed; z-index: 1; top: 0; width: 100% }
.navbar a { line-height: 45px; font-family: OpenSans-SemiBold; color: #CCCCCC; cursor: pointer; text-decoration: none; 
	text-transform: uppercase; text-shadow: 1px 1px 1px #000; 
 }
.navbar a:hover { color: #ecf0f1; text-decoration: none; transition: 1s all; }
.navbar a.active { color: white; }
.logo { display: inline-block; font-size: 1.5em; letter-spacing: .1em; }



