.todo-list {
	.title-container {
		margin-top: 120px;
		text-align: center;
		background: $primary-dark;
		padding: 22px 0;

		@media screen and (max-width: $screen-xs-max) {
			margin-top: 64px;
		}

		h3 {
			color: $primary;
			font-size: 32px;
		}
	}

	.list-container {
		background: $primary-light;
		min-height: 250px;
		padding: 32px 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

		.item {
			font-size: 18px;
			margin: 5px 0;
			position: relative;
			cursor: pointer;
			padding: 0 15px;
			height: 50px;
			overflow: none;

			@include transition(all .5s ease-in);

			&:hover {
				background: $primary-dark;
				i {
					display: block;
				}
			}

			@media screen and (max-width: $screen-xs-max) {
				font-size: 14px;
			}
		}

		.item.is-open {
			height: 120px;

			@include transition(all .5s ease-in);

			i {
				margin-top: 10px;
			}

			.edit-container {
				opacity: 1;

				@include transition(all .5s ease-in);
			}

			@media screen and (max-width: $screen-xs-max) {
				height: 102px;
			}
		}

		p {
			line-height: 50px;
			display: inline-block;
			margin: 3px;
		}

		i {
			position: absolute;
			right: 20px;
			top: 50%;
			@include translate(0, -50%);
			display: none;

			@media screen and (max-width: $screen-xs-max) {
				right: 14px;
			}
		}

		.edit-container {
			display: block;
			opacity: 0;

			@include transition(all .5s ease-in);
			
			@media screen and (max-width: $screen-xs-max) {
				margin-top: -9px;
			}
		}

		input {
			display: inline-block;
			vertical-align: top;
			text-indent: 5px;
			width: 30%;
			height: 42px;
			outline: none;

			@media screen and (max-width: $screen-xs-max) {
				height: 31px;
				width: 43%;
			}
		}

		.fa-pencil {
			right: 60px;

			@media screen and (max-width: $screen-xs-max) {
				right: 43px;
			}
		}

		.update-botton {
			vertical-align: top;
			border: 1px solid $secondary-border-color;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
			background: $secondary-button-color;
			padding: 10px 19px;
			font-size: 14px;
			margin-left: 12px;
			&:hover {
				background: $accent;
			}

			@media screen and (max-width: $screen-xs-max) {
				padding: 6px 6px;
				font-size: 12px;
				margin-left: 14px;
			}
		}
	}

	.button-container {
		margin-top: 32px;
		margin-bottom: 120px;
		position: relative;

		@media screen and (max-width: $screen-xs-max) {
			margin-bottom: 64px;
		}

		button {
			position: absolute;
			right: 0;
			top: 0;

			@media screen and (max-width: $screen-xs-max) {
				padding: 6px 10px;
			}
		}
	}

	.input-container {
		padding-right: 120px;

		@media screen and (max-width: $screen-xs-max) {
			padding-right: 92px;
		}

		input {
			width: 100%;
			height: 55px;
			font-size: 28px;
			line-height: 55px;
			text-indent: 10px;
			outline: none;

			@media screen and (max-width: $screen-xs-max) {
				font-size: 14px;
				text-indent: 5px;
				height: 39px;
				line-height: 39px;
				border: 1px solid $divider;
			}

		}
	}
}

