<div class="components">

	<section class="hero">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Components</h1>
					</div>
				</div>
			</div>
		</div>
    </section>

    <section class="content">
    	<div class="container">
            <div class="color-container">
        		<h1>Color</h1>
        		<div class="circle-color mod-accent">accent</div>
        		<div class="circle-color mod-dark">dark</div>
        		<div class="circle-color mod-light">light</div>
        		<div class="circle-color mod-text">text</div>
            </div>
    	</div>
    </section>
    <hr>

    <section class="button">
        <div class="container">
            <div class="button-container">
                <button>
                    Lorem ipsum
                </button>
            </div>
        </div>
    </section>
    <hr>

     <section class="card-section">
    	<div class="container">
    		<h1>Card</h1>
    		<div class="card-container">
                <p class="card-container-header">card</p>
            </div>
    	</div>
    </section>

</div>
