<div class="scramble-word" ng-keypress="scrambleWordVM.hello();">

    <section class="hero">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Scramble Word</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

					<div class="word">
						<div class="letter"
							ng-repeat="letterObject in scrambleWordVM.data.scrambledWordArray"
							ng-bind="letterObject.letter"
                            ng-click="scrambleWordVM.checkLetterClick(letterObject.letter)"
							ng-class="{ 'is-typed': letterObject.typed }"></div>
					</div>

                </div>
            </div>
        </div>
    </section>

</div>
