@import '../../styles/variables';

.navbar__container {
    height: 117px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__group {
    display: flex;
    list-style: none;
}

.navbar__logo {
    color: $gray-dark;
    text-decoration: none;
    transition: .2s ease-out;

    &:hover {
        color: $tango;
    }
}

.navbar__item {
    color: $gray-dark;
    margin-left: 35px;
    text-decoration: none;
    color: gray;
    transition: .2s ease-in;

    &:hover {
        color: $tango;
    }
}