@import '../../styles/variables';

.navbar__outer-container {
    border-top: 10px solid $tango;
    background: rgba(255, 255, 255, .25);
}

.navbar__container {
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__group {
    display: flex;
    list-style: none;
}

.navbar__logo {
    color: $gray-dark;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .2s ease-out;

    &:hover,
    &:focus {
        color: $tango;
    }
}

.navbar__item {
    color: $gray-dark;
    letter-spacing: 1px;
    margin-left: 35px;
    text-decoration: none;
    transition: .2s ease-in;

    &:hover,
    &:focus {
        color: $tango;
    }
}