@import '../../styles/variables';

.footer__container {
    height: 115px;
    //background: rgba(255, 255, 255, .25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__license {
    color: $gray;
    margin: 0;
}