@import '../../styles/variables';

.footer__container {
    height: 151px;
    background: rgba(255, 255, 255, .25);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__license {
    color: $gray;
    margin: 0;
    margin-bottom: 15px;
}

.footer__icon {
    color: $gray;
    margin-right: 45px;

    &:hover {
        cursor: pointer;
    }

    transition: .2s ease-out;
}

.footer__icon--linkedin {
    &:hover {
        color: #0077b5; 
    }
}

.footer__icon--github {
    &:hover {
        color: $gray-dark; 
    }
}

.footer__icon--instagram {
    margin-right: 0;  
    
    &:hover {
        color: #cd486b; 
    }
}