.projects { 
	.hero { 

		height: 320px;

		.overlay {
			background: rgba(0, 0, 0, .5);
		}
		
		h1 { 
			margin: 0;
			color: #fff;
		}

		@media screen and (max-width: $screen-sm-max) { 
			background: url('../content/images/projects-phone.jpg');
			background-size: cover;	
			
			.overlay {
				height: 320px;
			}

			h1 {
				text-align: center;
				margin-top: 167.5px;
			}

		}

		@media screen and (min-width: $screen-md-min) {
			background: url('../content/images/projects-desktop.jpg');
			background-size: cover;	

			h1 { 
				line-height: 320px; 
			}
		}
	}
	
}

