.projects {
	.hero {
		@media screen and (max-width: $screen-sm-max) {
			background: url('../content/images/projects-phone.jpg');
			background-size: cover;
		}

		@media screen and (min-width: $screen-md-min) {
			background: url('../content/images/projects-desktop.jpg');
			background-size: cover;
		}
	}

}
