.resume { 
	h1 { color: $accent; margin: 0; }
	.hero { height: 320px;
		background: url('../content/images/book.jpg');
		background-size: cover;	
		background-position-y: 430px;
	}
	.hero h1 { line-height: 320px; }
}

.skill {
	padding-top: 120px;
	padding-bottom: 120px;
}

.image {
	text-align: center;
	margin-bottom: 15px;
}

.main-skill-container {
	text-align: center;
}

.main-skill {
	color: $accent;
	border-bottom: 10px solid $divider;
	display: inline-block;
}


.sub-skill-container {
	text-align: center;
}

.sub-skill {
	display: block; 
	font-size: 16px;
	line-height: 28px;
	color: $text-secondary;
	margin-bottom: 5px; 
}

.js .main-skill {
	
}