.resume { 
	h1 { font-family: OpenSans-Bold; margin: 0; }
	.hero { height: 320px;
		background: url('../content/images/book.jpg');
		background-size: cover;	
		background-position-y: 430px;
	}
	.hero h1 { line-height: 320px; }
}

.main-skill-container {
	background: #f1f1f1;
	margin: 60px; 
	padding: 32px;
	text-align: center;
}


.sub-skill-container {
	text-align: center;
}

.sub-skill {
	display: inline-block; 
	font-size: 16px;
	line-height: 100px; 
	width: 100px; 
	height: 100px;
	color: #777;
}