.resume {
	.technologies { padding-bottom: 45px; }

	h2 { margin-top: 40px; }
	ul { padding-left: 0; }
	ul li { list-style-type: none; display: inline-block; margin-right: 20px; font-family: OpenSans-Regular;}
}