.resume { 
	h1 { font-family: OpenSans-Bold; margin: 0; }
	.hero { height: 320px;
		background: url('../content/images/book.jpg');
		background-size: cover;	
		background-position-y: 430px;
	}
	.hero h1 { line-height: 320px; }
}

