.header { background: grey; height: 45px; }
.header strong { line-height: 45px; font-family: OpenSans-SemiBold; color: white; cursor: pointer;}
.header strong:hover { color: #ecf0f1; }

h1 { font-family: OpenSans-Bold; }
p { font-family: OpenSans-Regular; }

.footer { background: grey; height: 175px; padding-top: 20px; }
.footer strong { display: block; color: white; line-height: 30px; font-family: OpenSans-Light; cursor: pointer;}
.footer strong:hover { color: #ecf0f1; }
.footer p { margin-top: 10px; display: block; color: white; line-height: 30px; font-family: OpenSans-Light; }

* { margin: 0; }
html, body { height: 100%; }
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -175px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 175px; /* .push must be the same height as .footer */
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}