.about h1 {
  font-family: OpenSans-Bold;
  margin: 0; }

.about .hero {
  height: 320px;
  background: url("../content/images/coffee.jpg");
  background-size: cover;
  background-position-y: 723px; }

.about .hero h1 {
  line-height: 320px; }

.background,
.programming,
.contact {
  background: #f6f6f6;
  padding-top: 64px;
  padding-bottom: 64px; }

h3 {
  margin-bottom: 35px;
  margin-top: 32px; }

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle; }

.background p {
  line-height: 24px;
  color: #444444; }

.background .image-container {
  text-align: center; }

.background .image-container .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: inline-block;
  background: url("../content/images/profile.jpg");
  background-size: cover; }

.programming {
  background: #f1f1f1; }

.programming p {
  line-height: 24px;
  color: #444444; }

.programming .image-container {
  text-align: center; }

.programming .image-container .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: inline-block;
  background: url("../content/images/desk.jpg");
  background-size: cover;
  background-position-y: -90px; }

.contacts h1 {
  font-family: OpenSans-Bold;
  margin: 0; }

.contacts .hero {
  height: 320px;
  background: url("../content/images/iphone2.jpg");
  background-size: cover;
  background-position-y: 1395px; }

.contacts .hero h1 {
  line-height: 320px; }

.home .hero {
  text-align: center; }
  @media screen and (min-width: 992px) {
    .home .hero {
      background: url("../content/images/skyline.jpg");
      background-size: cover;
      height: 790px;
      position: relative; }
      .home .hero .content {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .home .hero .content h4 {
    margin-top: 32px; }
  .home .hero .content .icon {
    position: relative;
    margin-top: 32px;
    display: inline-block;
    opacity: .5; }
  .home .hero .content .image {
    margin-top: 32px;
    display: inline-block;
    border-radius: 50%;
    background: white;
    height: 100px;
    width: 100px;
    background-position-y: 658px; }

/*
.home {

  @media screen and (max-width: $screen-sm-max) {
    // phones and tablets
  }

  @media screen and (min-width: $screen-md-min) {
    // laptops and desktop
  }

  .hero {
    @media screen and (max-width: $screen-sm-max) {
      // phones and tablets
    }

    @media screen and (min-width: $screen-md-min) {
      // laptops and desktop
    }
  }

  .backgrounds {
    @media screen and (max-width: $screen-sm-max) {
      // phones and tablets
    }

    @media screen and (min-width: $screen-md-min) {
      // laptops and desktop
    }
  }

  .programmings {
    @media screen and (max-width: $screen-sm-max) {
      // phones and tablets
    }

    @media screen and (min-width: $screen-md-min) {
      // laptops and desktop
    }
  }
}*/
@media screen and (max-width: 991px) {
  .backgrounds {
    background: blue; }
  .programmings {
    background: yellow; } }

@media screen and (min-width: 992px) {
  .backgrounds {
    background: pink;
    height: 640px; }
    .backgrounds .content-container {
      height: 640px;
      position: relative; }
    .backgrounds .content-container .content {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .backgrounds .content-container .content h3 {
        margin-top: 0; }
    .backgrounds .image-container {
      height: 640px;
      text-align: center;
      position: relative; }
    .backgrounds .image-container .image {
      height: 250px;
      width: 250px;
      border-radius: 50%;
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .programmings {
    background-color: #f6f6f6;
    height: 640px; }
    .programmings .content-container {
      height: 640px;
      position: relative; }
    .programmings .content-container .content {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%); }
      .programmings .content-container .content h3 {
        margin-top: 0; }
    .programmings .image-container {
      height: 640px;
      position: relative; }
    .programmings .image-container .image {
      background-color: white;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); } }

.projects h1 {
  font-family: OpenSans-Bold;
  margin: 0; }

.projects .hero {
  height: 320px;
  background: url("../content/images/code.jpg");
  background-size: cover;
  background-position-y: 729px; }

.projects .hero h1 {
  line-height: 320px; }

.resume h1 {
  font-family: OpenSans-Bold;
  margin: 0; }

.resume .hero {
  height: 320px;
  background: url("../content/images/book.jpg");
  background-size: cover;
  background-position-y: 430px; }

.resume .hero h1 {
  line-height: 320px; }

.circle {
  display: inline-block;
  border: 2px solid orange;
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.circle-container {
  width: 125px;
  height: 125px;
  display: inline-block;
  position: relative; }

.circle:hover {
  background: grey;
  width: 125px;
  height: 125px;
  line-height: 125px; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff2") format("woff2"), url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.woff") format("woff"), url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.ttf") format("truetype"), url("../bower_components/open-sans-fontface/fonts/bold/OpenSans-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff2") format("woff2"), url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.woff") format("woff"), url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.ttf") format("truetype"), url("../bower_components/open-sans-fontface/fonts/semibold/OpenSans-SemiBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff2") format("woff2"), url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.woff") format("woff"), url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.ttf") format("truetype"), url("../bower_components/open-sans-fontface/fonts/regular/OpenSans-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot");
  /* IE9 Compat Modes */
  src: url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff2") format("woff2"), url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.woff") format("woff"), url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.ttf") format("truetype"), url("../bower_components/open-sans-fontface/fonts/light/OpenSans-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

.footer {
  background: grey;
  padding-top: 20px; }

.footer a {
  display: block;
  color: white;
  line-height: 30px;
  font-family: OpenSans-Light;
  cursor: pointer;
  text-decoration: none; }

.footer a:hover {
  color: #ecf0f1;
  text-decoration: none; }

.footer p {
  margin-top: 10px;
  display: block;
  color: white;
  line-height: 30px;
  font-family: OpenSans-Light;
  border-top: 1px solid white; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -175px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .push {
  height: 175px;
  /* .push must be the same height as .footer */ }

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle; }

html {
  overflow-y: scroll; }

h1 {
  font-family: OpenSans-Bold; }

p {
  font-family: OpenSans-Regular; }

.navbar {
  height: 45px;
  text-align: left;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%; }

.navbar a {
  color: #CCCCCC;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s all; }

.navbar a:hover {
  color: #ecf0f1; }

.navbar a.active {
  color: white; }

.navbar-brand {
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em; }
