@import '../../styles/variables';

.callout__container {
    height: 550px;
    background: $gray-light;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callout__picture {
    border: 1px solid $tango;
    width: 500px;
    height: 450px;
}

.callout__container--light {
    background: rgba(224,254,251,0.9);
}