.components {

	.circle-color {
		border-radius: 50%;
		width: 62px;
		height: 62px;
		display: inline-block;
		line-height: 62px;
		text-align: center;
		color: #fff;
	}

	.circle-color.mod-accent {
		background-color: $accent;
	}

	.circle-color.mod-light {
		background-color: $primary-light;
	}

	.circle-color.mod-text {
		background: $text-secondary;
	}

	.circle-color.mod-dark {
		background: $primary-dark;
	}

	hr {
		margin-top: 32px;
	}
}