.home {
    .hero {
        text-align: center;

        .content {
            display: inline-block;
        }

        .content h2 {
            margin: -4px 0 0;
        }

        .content h2,
        .content h4 {
            letter-spacing: 0.1em;
            color: $primary;
        }

        .content .icon {
            position: relative;
            display: inline-block;
            opacity: 0.8;
        }

        .content .icon .fa-linkedin-square {
            margin-left: 0;
            color: $primary;
        }

        .content .icon .fa-github-square {
            margin-left: 29px;
            color: $primary;
        }

        .content .icon .fa-envelope-o {
            margin-left: 29px;
            color: $primary;
        }

        @media screen and (max-width: $screen-sm-max) {
            background: url("../content/images/home-hero-phone.jpg");
            background-size: cover;
            height: 365px;

            .content {
                margin-top: 115px;
                padding: 22px 50px;
            }

            .icon {
                margin-top: 12px;
            }

            h2 {
                font-size: 24px;
            }

            h4 {
                font-size: 16px;
                margin-top: 22px;
            }

            h2,
            h4 {
                line-height: 22px;
            }
        }

        @media screen and (min-width: $screen-md-min) {
            background: url("../content/images/home-hero-desktop.jpg");
            background-size: cover;
            background-position-y: -40px;
            height: 640px;

            .container {
                height: 640px;
            }

            .content {
                margin-top: 223.5px;
                border: 2px solid #fff;
                padding: 36px 116px;
            }

            .icon {
                margin-top: 32px;
            }

            h4 {
                margin-top: 32px;
            }
        }
    }

    .section-content {
        background: $primary;

        .content-container {
            position: relative;
        }

        .content-container .content {
            color: $text-secondary;
            h3 {
                margin-top: 0;
                color: $accent;
                margin-bottom: 32px;
            }

            p {
                margin-top: 26px;
                text-align: left;
            }
        }

        .image-container {
            text-align: center;
            position: relative;
        }

        @media screen and (max-width: $screen-sm-max) {

            .content-container,
            .image-container {
                margin-top: 64px;
                margin-bottom: 64px;
                float: none;
            }

            .content-container .content {
                text-align: center;
                line-height: 1.45;

                h3 {
                    text-align: center;
                }
            }

            .image-container .image {
                height: 280px;
                width: 280px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        @media screen and (min-width: $screen-md-min) {
            height: 510px;

            .content-container {
                height: 510px;
            }

            .content-container .content {
                position: absolute;
                top: 50%;

                @include translate(0, -50%);
            }

            .image-container {
                height: 510px;
            }

            .image-container .image {
                height: 350px;
                width: 350px;
                position: absolute;
                top: 50%;
                right: 0;

                @include translate(0, -50%);
            }
        }
    }

    .section-content.mod-background {
        .image-container .image {
            background: url("../content/images/home-background.jpg");
            background-size: cover;
            display: inline-block;
            border-radius: 50%;
        }
    }

    .section-content.mod-programming {
        .image-container .image {
            background: url("../content/images/home-programming.jpg");
            background-size: cover;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
