.home {

	section {
		overflow: hidden;
	}

	.hero {
		text-align: center;
		height: 640px;
		width: 100%;
		position: relative;

		.container {
			height: 640px;
			position: relative;
		}

	    .content { 
	    	border: 2px solid #f2f2f2;
	        padding: 30px 115px 30px 115px; 
	        position: absolute;
	        display: inline-block;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
	    }

	    .content h2 { margin: 0; }
	    .content h4 { margin-top: 32px; }

	    .content h2, 
	    .content h4 { letter-spacing: .1em; color: white; }

	    .content .icon { position: relative; margin-top: 32px; display: inline-block; opacity: .8; }
	    .content .icon .fa-linkedin-square { margin-left: 0; color: white; }
	    .content .icon .fa-github-square { margin-left: 29px; color: white; }
	    .content .icon .fa-envelope-o { margin-left: 29px; color: white; }

		@media screen and (max-width: $screen-sm-max) {
	      background: url('../content/images/home-phone.jpg'); 
	      background-size: cover;
	    }

	    @media screen and (min-width: $screen-md-min) {
	      background: url('../content/images/home-desktop.jpg'); 
	      background-size: cover;
	    }
	}

	.backgrounds {
		
		background: $primary;

		.content-container {
		    position: relative;
		}

		.content-container .content {
		    color: $text-secondary;
		    h3 { margin-top: 0; color: $accent; }
		}

		.image-container {
		    text-align: center;
		    position: relative; 
		}

		.image-container .image {
		    background: url('../content/images/home-background.jpg');
		    background-size: cover;
		    display: inline-block;
		    border-radius: 50%;
		}

		@media screen and (max-width: $screen-sm-max) {

			.content-container {
				margin-top: 76px;

			}
			.content-container .content {
				text-align: center; 
				line-height: 1.45;
			    h3 { text-align: center; margin-bottom: 36px; }
			}

			.image-container {
				margin-top: 66px;
				margin-bottom: 76px;
			}
		
			.image-container .image {
			    height: 280px;
			    width: 280px;
			    margin-top: 0;
			    margin-bottom: 0;
			}


		}

		@media screen and (min-width: $screen-md-min) {

			height: 620px; 
			
			.content-container {
				height: 620px;
			}
			
			.content-container .content {
		    	position: absolute;
			    top: 50%;
			    transform: translate(0, -50%);
			}

			.image-container {
			    height: 620px;
			}

			.image-container .image {
			    height: 350px;
			    width: 350px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			}

		}
	}

	.programmings {
		
		background: $primary;

		.content-container {
		    position: relative;
		}

		.content-container .content {
		    color: $text-secondary;
		  
		    h3 { margin-top: 0; color: $accent; }
		}

		.image-container {
		    text-align: center;
		    position: relative; 
		}

		.image-container .image {
		    background: url('../content/images/home-programming.jpg');
		    background-size: cover;
		    display: inline-block;
		    border-radius: 50%;
		}

		@media screen and (max-width: $screen-sm-max) {
			
			text-align: center; 
			line-height: 1.45;
		    
		    h3 { text-align: center; margin-bottom: 36px; }

		    .content-container {
				margin-top: 76px;
			}

		   .image-container {
				margin-top: 66px;
				margin-bottom: 76px;
			}

			.image-container .image {
			    height: 280px;
			    width: 280px;
			    margin-top: 0;
			    margin-bottom: 0;
			}
		}

		@media screen and (min-width: $screen-md-min) {

			height: 620px; 

			.content-container { 
				height: 620px;
			}
			
			.content-container .content {
				position: absolute;
			    top: 50%;
			    transform: translate(0, -50%);
			}

			.image-container {
			    height: 620px;
			}

			.image-container .image {
			    height: 350px;
			    width: 350px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			}

		}
	}
}
		


