.home {

	section {
		overflow: hidden;
	}

	.hero {
		text-align: center;
		width: 100%;
		position: relative;

	    .content {
	    	border: 2px solid #ffffff;
	        display: inline-block;
	    }

	    .content h2 { margin: 0; }
	    .content h2, 
	    .content h4 { letter-spacing: .1em; color: #ffffff; }

	    .content .icon { position: relative; display: inline-block; opacity: .8; }
	    .content .icon .fa-linkedin-square { margin-left: 0; color: #ffffff; }
	    .content .icon .fa-github-square { margin-left: 29px; color: #ffffff; }
	    .content .icon .fa-envelope-o { margin-left: 29px; color: #ffffff; }

		@media screen and (max-width: $screen-sm-max) {
	      background: url('../content/images/home-phone.jpg'); 
	      background-size: cover;
	      background-position-y: 51px;
	      .hero {
	      	height: 320px;
	      }

	      .container {
			height: 320px;
		  }
	      .content {
	      	margin-top: 92.5px;
	      	padding: 22px 66px;
	      }

	       .icon {
	       	margin-top: 12px;
	       }

	       h2 {
	       	font-size: 24px;
	       }

	       h4 {
	       font-size: 16px; 
	       	margin-top: 22px; 
	       }

	    }

	    @media screen and (min-width: $screen-md-min) {
	      background: url('../content/images/home-hero.jpg'); 
	      background-size: cover;
	      background-position-y: -40px;
	      
	      .hero {
	      	height: 640px;
	      }

	      .container {
			height: 640px;
		  }

	      .overlay {
	      	top: 0;
	      	left: 0;
	      	height: 640px;
	      	width: 100%;
	      	position: absolute;
	      	background-color: rgba(0, 0, 0, 0.5);
	      }

	      .content {
	      	margin-top: 223.5px;
	    	border: 2px solid #f2f2f2;
	        padding: 36px 116px; 
	      }

	      .icon {  
	      	margin-top: 32px; 
	      }

	      h4 { 
	      	margin-top: 32px; 
	      }
	    
		}
	}

	.backgrounds {
		
		background: $primary;

		.content-container {
		    position: relative;
		}

		.content-container .content {
		    color: $text-secondary;
		    h3 { margin-top: 0; color: $accent; }
		}

		.image-container {
		    text-align: center;
		    position: relative; 
		}

		.image-container .image {
		    background: url('../content/images/home-background.jpg');
		    background-size: cover;
		    display: inline-block;
		    border-radius: 50%;
		}

		@media screen and (max-width: $screen-sm-max) {

			.content-container {
				margin-top: 76px;

			}
			.content-container .content {
				text-align: center; 
				line-height: 1.45;
			    h3 { text-align: center; margin-bottom: 36px; }
			}

			.image-container {
				margin-top: 66px;
				margin-bottom: 76px;
			}
		
			.image-container .image {
			    height: 280px;
			    width: 280px;
			    margin-top: 0;
			    margin-bottom: 0;
			}


		}

		@media screen and (min-width: $screen-md-min) {

			height: 620px; 
			
			.content-container {
				height: 620px;
			}
			
			.content-container .content {
		    	position: absolute;
			    top: 50%;
			    transform: translate(0, -50%);
			}

			.image-container {
			    height: 620px;
			}

			.image-container .image {
			    height: 350px;
			    width: 350px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			}

		}
	}

	.programmings {
		
		background: $primary;

		.content-container {
		    position: relative;
		}

		.content-container .content {
		    color: $text-secondary;
		  
		    h3 { margin-top: 0; color: $accent; }
		}

		.image-container {
		    text-align: center;
		    position: relative; 
		}

		.image-container .image {
		    background: url('../content/images/home-programming.jpg');
		    background-size: cover;
		    display: inline-block;
		    border-radius: 50%;
		}

		@media screen and (max-width: $screen-sm-max) {
			
			text-align: center; 
			line-height: 1.45;
		    
		    h3 { text-align: center; margin-bottom: 36px; }

		    .content-container {
				margin-top: 76px;
			}

		   .image-container {
				margin-top: 66px;
				margin-bottom: 76px;
			}

			.image-container .image {
			    height: 280px;
			    width: 280px;
			    margin-top: 0;
			    margin-bottom: 0;
			}
		}

		@media screen and (min-width: $screen-md-min) {

			height: 620px; 

			.content-container { 
				height: 620px;
			}
			
			.content-container .content {
				position: absolute;
			    top: 50%;
			    transform: translate(0, -50%);
			}

			.image-container {
			    height: 620px;
			}

			.image-container .image {
			    height: 350px;
			    width: 350px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			}

		}
	}
}
		


